<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Some website</title>
</head>

<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto reprehenderit voluptatum pariatur. Incidunt necessitatibus voluptatibus ipsa rem sit possimus exercitationem mollitia libero hic quae dicta doloribus, expedita cumque quis unde?</p>
   {{> footer}}
</body>

</html>